<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="FVA Software" Language="1033" Version="1.0.0.0" Manufacturer="FVA Software" UpgradeCode="358e1852-6d77-4aa5-a180-ff0f96c691e0">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <Media Id='1' Cabinet='cab1.cab' EmbedCab='yes'/>
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Property Id="WIXUI_INSTALLDIR" Value="PRODUCTDIR" />
    <UIRef Id="WixUI_InstallDir" />
    <Feature Id="ProductFeature" Title="FVASetupWin" Level="1">
			<ComponentRef Id="platformsComponents" />
      <ComponentRef Id="icons" />
      <ComponentRef Id="jpegr" />
      <ComponentRef Id="mediaserviceFilesComponents" />
      <ComponentRef Id="scripts" />
      <ComponentRef Id="files" />
      <ComponentRef Id="sqldriversComponents" />
    </Feature>
  </Product>

	<Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">      
      <Directory Id="PRODUCTDIR"> 
        <Directory Id="scripts" Name='#scripts#'>
          <Component Id="scripts" Guid="D4AE1F4B-9CDC-424A-B757-1A970DF59665">
            <File Id="checkCLT2" Name="checkCLT2.cmd" Source="..\FVAScripts\checkCLT2.cmd"  Vital="yes" KeyPath="no"/>
            <File Id="checkCLT3" Name="checkCLT3.cmd" Source="..\FVAScripts\checkCLT3.cmd"  Vital="yes" KeyPath="no"/>
            <File Id="createFvaDB.cmd" Name="createFvaDB.cmd" Source="..\FVAScripts\createFvaDB.cmd"  Vital="yes" KeyPath="no"/>
            <File Id="setAttr" Name="setAttr.cmd" Source="..\FVAScripts\setAttr.cmd"  Vital="yes" KeyPath="no"/>
            <File Id="CreateFvaDBDevices" Name="CreateFvaDBDevices.cmd"  Source="..\FVAScripts\CreateFvaDBDevices.cmd"  Vital="yes" KeyPath="no"/>
            <File Id="fixCLT2Issues" Name="fixCLT2Issues.py"  Source="..\FVAScripts\fixCLT2Issues.py"  Vital="yes" KeyPath="no"/>
            <File Id="merge2csv" Name="merge2csv.py"  Source="..\FVAScripts\merge2csv.py"  Vital="yes" KeyPath="no"/>
            <File Id="createFvaDB" Name="createFvaDB.sql" Source="..\FVAScripts\createFvaDB.sql"  Vital="yes" KeyPath="no"/>
            <File Id="sqlite3" Name="sqlite3.exe"  Source="#BIN#\sqlite3.exe"  Vital="yes" KeyPath="no"/>
            <CreateFolder />
          </Component>
        </Directory>
        
        <Directory Id="bin" Name='#bin#'>
          <Directory Id="Icons" Name='Icons'>
            <Component Id="icons" Guid="1af1fda7-a0f8-41f3-979f-07cf8ca5a411">
              <File Id="audio" Name="audio.png"  Source="#BIN#\Icons\audio.png"  Vital="yes" KeyPath="no"/>
              <File Id="folder" Name="folder.png" Source="#BIN#\Icons\folder.png"  Vital="yes" KeyPath="no"/>
              <File Id="photo" Name="photo.png"  Source="#BIN#\Icons\photo.png"  Vital="yes" KeyPath="no"/>
              <File Id="video" Name="video.png"  Source="#BIN#\Icons\video.png"  Vital="yes" KeyPath="no"/>
              <File Id="main" Name="main.png"  Source="#BIN#\Icons\main.png"  Vital="yes" KeyPath="no"/>
              <File Id="people" Name="people.png"  Source="#BIN#\Icons\people.png"  Vital="yes" KeyPath="no"/>
              <File Id="person" Name="person.png"  Source="#BIN#\Icons\person.png"  Vital="yes" KeyPath="no"/>
              <File Id="location" Name="location.png"  Source="#BIN#\Icons\location.PNG"  Vital="yes" KeyPath="no"/>
            </Component>
          </Directory>
           
          <Directory Id="Jpegr" Name='Jpegr'>
          <Component Id="jpegr" Guid="0e134b5c-8d08-4059-bc73-ba96d6080990">
            <File Id="jpegr" Name="jpegr.exe"  Source="#BIN#\Jpegr\jpegr.exe"  Vital="yes" KeyPath="no"/>
            <File Id="jpegrotate" Name="jpegrotate.dll"  Source="#BIN#\Jpegr\jpegrotate.dll"  Vital="yes" KeyPath="no"/>
            <File Id="jpgrotate" Name="jpgrotate.dll"  Source="#BIN#\Jpegr\jpgrotate.dll"  Vital="yes" KeyPath="no"/>
            <CreateFolder />
          </Component>
          </Directory>
        
          <Directory Id="mediaservice" Name='mediaservice'>
          <Component Id="mediaserviceFilesComponents" Guid="1ea80614-bc07-4675-96a5-d418a1d67060">
            <CreateFolder />
            <File Id="dsengine" Name="dsengine.dll"  Source="#BIN#\QT$(var.Configuration)\mediaservice\dsengine.dll"  Vital="yes" KeyPath="no"/>
            <File Id="qtmedia_audioengine" Name="qtmedia_audioengine.dll"  Source="#BIN#\QT$(var.Configuration)\mediaservice\qtmedia_audioengine.dll"  Vital="yes" KeyPath="no"/>
            <File Id="wmfengine" Name="wmfengine.dll"  Source="#BIN#\QT$(var.Configuration)\mediaservice\wmfengine.dll"  Vital="yes" KeyPath="no"/>
           </Component>            
           </Directory>

          <Directory Id="platforms" Name='platforms'>
          <Component Id="platformsComponents" Guid="F1F0CD8C-9E9D-4A09-8FD9-BEC16D04EC5C">
            <CreateFolder />
            <File Id="qwindows" Name="qwindows.dll"  Source="#BIN#\QT$(var.Configuration)\platforms\qwindows.dll"  Vital="yes" KeyPath="no"/>
          </Component>
          </Directory>

          <Directory Id="sqldrivers" Name='sqldrivers'>
          <Component Id="sqldriversComponents" Guid="2F5B4920-D2F6-464D-A6CA-B4697AE50801">
            <CreateFolder />
            <File Id="qsqlite" Name="qsqlite.dll"  Source="#BIN#\QT$(var.Configuration)\sqldrivers\qsqlite.dll"  Vital="yes" KeyPath="no"/>
          </Component>
          </Directory>

          <Component Id="files" Guid="af4356ff-56aa-4c7c-baca-cd1af6e51267">  
            <File Id="viewer" Name="FVAViewer.exe" Source="..\fvabin\x64\$(var.Configuration)\FVAViewer.exe" Vital="yes" KeyPath="no"/>
            <File Id="FVAOrganizer" Name="FVAOrganizer.exe" Source="..\fvabin\x64\$(var.Configuration)\FVAOrganizer.exe" Vital="yes" KeyPath="no"/>
            <File Id="FVAOrganizerWizard" Name="FVAOrganizerWizard.exe" Source="..\fvabin\x64\$(var.Configuration)\FVAOrganizerWizard.exe" Vital="yes" KeyPath="no"/>
            <File Id="FVAConfigurator" Name="FVAConfigurator.exe" Source="..\fvabin\x64\$(var.Configuration)\FVAConfigurator.exe" Vital="yes" KeyPath="no"/>
            <File Id="descEditor" Name="FVADescriptionEditor.exe" Source="..\fvabin\x64\$(var.Configuration)\FVADescriptionEditor.exe" Vital="yes" KeyPath="no"/>
            <File Id="dictEditor" Name="FVADictionaryEditor.exe" Source="..\fvabin\x64\$(var.Configuration)\FVADictionaryEditor.exe" Vital="yes" KeyPath="no"/>
            <File Id="player" Name="FVAPlayer.exe" Source="..\fvabin\x64\$(var.Configuration)\FVAPlayer.exe" Vital="yes" KeyPath="no"/>
            <File Id="exif" Name="exiftool(-k).exe"  Source="#BIN#\exiftool(-k).exe"  Vital="yes" KeyPath="no"/>
            <File Id="Qt5Core" Name="Qt5Core.dll"  Source="#BIN#\QT$(var.Configuration)\Qt5Core.dll"  Vital="yes" KeyPath="no"/>
            <File Id="Qt5Gui" Name="Qt5Gui.dll"  Source="#BIN#\QT$(var.Configuration)\Qt5Gui.dll"  Vital="yes" KeyPath="no"/>
            <File Id="Qt5Multimedia" Name="Qt5Multimedia.dll"  Source="#BIN#\QT$(var.Configuration)\Qt5Multimedia.dll"  Vital="yes" KeyPath="no"/>
            <File Id="Qt5MultimediaWidgets" Name="Qt5MultimediaWidgets.dll"  Source="#BIN#\QT$(var.Configuration)\Qt5MultimediaWidgets.dll"  Vital="yes" KeyPath="no"/>
            <File Id="Qt5Network" Name="Qt5Network.dll"  Source="#BIN#\QT$(var.Configuration)\Qt5Network.dll"  Vital="yes" KeyPath="no"/>
            <File Id="Qt5OpenGL" Name="Qt5OpenGL.dll"  Source="#BIN#\QT$(var.Configuration)\Qt5OpenGL.dll"  Vital="yes" KeyPath="no"/>
            <File Id="Qt5Widgets" Name="Qt5Widgets.dll"  Source="#BIN#\QT$(var.Configuration)\Qt5Widgets.dll"  Vital="yes" KeyPath="no"/>
            <File Id="Qt5Sql" Name="Qt5Sql.dll"  Source="#BIN#\QT$(var.Configuration)\Qt5Sql.dll"  Vital="yes" KeyPath="no"/>       
          </Component>
        </Directory>
      </Directory>
    </Directory>
	</Fragment>
</Wix>