name: "Code Checks"

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  check-code:
     name: Checking code before build
     runs-on: ubuntu-latest
     strategy:
         fail-fast: false
     steps:

      - name: Checkout FVA repository
        uses: actions/checkout@v2 #v2 to checkout submodules as well
        with:
            submodules: 'true'

      - name: Cpp Code check
        uses: deep5050/cppcheck-action@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN}}
          check_library: enable
          max_ctu_depth: 5

      - name: Upload Cpp Code check report to git hub storage to use later
        uses: actions/upload-artifact@v4
        with:
          path: ./cppcheck_report.txt
          name: cppcheck_report.txt
    #- name: clang-tidy check
    #  run: |
    #      echo "==================Installing clang-tidy====================================="
    #      wget https://apt.llvm.org/llvm.sh
    #      chmod +x llvm.sh
    #      sudo ./llvm.sh 17
    #      sudo apt install clang-tidy-17
    #      rm ./llvm.sh
    #      echo "==================Creating compile_commands.json====================================="
    #      cmake -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
    #      echo "==================Running clang-tidy====================================="
    #      clang-tidy ./src/*.cpp -checks='*' > ./clang-tidy-report.txt
    #      clang-tidy ./src/*.h -checks='*' >> ./clang-tidy-report.txt
    #      clang-tidy ./tests/*.cpp -checks='*' >> ./clang-tidy-report.txt
    #      #clang-tidy ./tests/*.h -checks='*' >> ./clang-tidy-report.txt
